<div class="flex-start flex-col pb-4 border-b mb-4 gap-y-2">
  <h1 class="h4 font-bold">
    <%= I18n.t("decidim.spam_signal.admin.flow.#{flow.trigger_type.demodulize.underscore}.title") %></h4>
  </h1>
  <p>
    <%= I18n.t("decidim.spam_signal.admin.flow.#{flow.trigger_type.demodulize.underscore}.description") %>
  </p>
</div>

<div class="form__wrapper pb-6">
  <div class="card pt-4">
    <div class="row column">
      <%= form.text_field :name, required: true %>
    </div>
  </div>
</div>


<%= form.fields_for :conditions, builder: Decidim::SpamSignal::SpamSettingsFormBuilder do |condition_form| %>
  <%= render "decidim/spam_signal/admin/flows/condition_form", flow:, f: condition_form, blank_condition: %>
  <% if form.object.errors.any? { |error| error.attribute == :conditions } %>
    <% form.object.errors.full_messages_for(:conditions).each do |message| %>
      <small class="form-error is-visible">
        <%= message %>
      </small>
    <% end %>
  <% end %>
<% end %>


<div class="card py-2">
  <div class="row column">
    <% if form.object.action_settings.any? %>
      <h4 class="h4"><%= I18n.t("actions", scope: "decidim.spam_signal.admin.flows.form") %></h4>
  </div>
</div>
<div class="form__wrapper pb-6"">
  <div class="card pt-4">
    <div class="row column">
      <% form.object.action_settings.each do |action_form| %>
        <%= form.fields_for :action_settings, action_form do |field_for_actions| %>
          <%= render "decidim/spam_signal/admin/flows/action_form", f: field_for_actions %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
    <% end %>

