<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= I18n.t("title", scope: "decidim.spam_signal.admin.general") %> 
  </h1>
</div>

<div class="general">
  <h1><%= I18n.t("second_title", scope: "decidim.spam_signal.admin.general") %> </h1>
  <div class="general columns">
    <div class="general column">
      <h2><%= I18n.t("new_condition", scope: "decidim.spam_signal.admin.general") %></h2>
      <ol>
        <li><%= I18n.t("new_condition_item.one", scope: "decidim.spam_signal.admin.general") %></li>
        <li><%= I18n.t("new_condition_item.two", scope: "decidim.spam_signal.admin.general") %></li>
        <li><%= I18n.t("new_condition_item.three", scope: "decidim.spam_signal.admin.general") %></li>
        <li><%= I18n.t("new_condition_item.four", scope: "decidim.spam_signal.admin.general") %></li>
        <li><%= I18n.t("new_condition_item.five", scope: "decidim.spam_signal.admin.general") %></li>
      </ol>
    </div>
    <div class="general column">
      <h2><%= I18n.t("new_flow", scope: "decidim.spam_signal.admin.general") %></h2>
      <ol>
      <li><%= I18n.t("new_flow_item.one", scope: "decidim.spam_signal.admin.general") %></li>
      <li><%= I18n.t("new_flow_item.two", scope: "decidim.spam_signal.admin.general") %></li>
      <li><%= I18n.t("new_flow_item.three", scope: "decidim.spam_signal.admin.general") %></li>
      <li><%= I18n.t("new_flow_item.four", scope: "decidim.spam_signal.admin.general") %></li>
      <li><%= I18n.t("new_flow_item.five", scope: "decidim.spam_signal.admin.general") %></li>
      </ol>
    </div>
  </div>
  <div class="general divider"></div>
</div>
