<% conditions.each do |condition| %>
  <tr>
    <td>
      <%= translated_attribute(condition.name) %>
    </td>
    <td>
      <%= t("#{condition.condition_type}.title", scope: "decidim.spam_signal.admin.condition") %>
    </td>
    <td class="table-list__actions">
      <%= icon_link_to "pencil-line", edit_condition_path(condition), t("actions.edit", scope: "decidim.spam_signal.admin"), class: "action-icon--edit", method: :get %>

      <button class="action-icon--remove" data-dialog-open="<%= condition.id %>">
        <%= icon "delete-bin-line" %>
      </button>
    </td>
  </tr>

  <%= decidim_modal id: "#{condition.id}", class:"flex flex-col px-4 gap-4" do %>
    <% if flow_conditions(condition).empty? %>
      <div><h3 class="h3"> <%= t("title", scope: "decidim.spam_signal.admin.conditions.actions.delete.modal") %> </h3></div>
    <% else %>
      <div><h3 class="h3"> <%= t("condition_used_in", scope: "decidim.spam_signal.admin.conditions.actions.delete.modal", count: flow_conditions(condition).count) %> </h3></div>
      <div>
        <% flow_conditions(condition).each do |flow| %>
          <p><%= link_to "#{flow.flow.name}", edit_flow_path(flow.flow.id), class: "underline text-secondary font-semibold" %></p>
        <% end %>
      </div>
      <div>
        <%= t("content_html", scope: "decidim.spam_signal.admin.conditions.actions.delete.modal") %>
      </div>
    <% end %>
      <div class="flex justify-between pt-2">
        <button class="button button__lg button__transparent-secondary" data-dialog-close="<%= condition.id %>">
          <span><%= t("cancel", scope: "decidim.spam_signal.admin.confirm_modal") %></span>
        </button>
        <%= link_to condition, class: "button button__lg button__secondary", method: :delete do %>
          <%= icon "delete-bin-line" %>
          <%= t("confirm", scope: "decidim.spam_signal.admin.conditions.actions.delete.modal") %>
        <% end %>
      </div>
  <% end %>
<% end %>
