<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t("title", scope: "decidim.spam_signal.admin.conditions") %> 
    <%= link_to t("actions.add", scope: "decidim.spam_signal.admin.conditions"), new_condition_path, class: "button button__sm button__secondary" %>
  </h1>
</div>

<% if conditions.any? %>
  <div class="table-scroll">
    <table class="table-list">
    <thead>
      <tr>
        <th><%= t("models.condition.fields.name", scope: "decidim.spam_signal") %></th>
        <th><%= t("models.condition.fields.condition_type", scope: "decidim.spam_signal") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "condition_table", locals: { conditions: conditions } %>
    </tbody>
    </table>
  </div>
<% else %>
  <p><%= t("no_conditions", scope: "decidim.spam_signal.admin.conditions") %></p>
<% end %>